h1 {
  font-size: 4rem;
  letter-spacing: 0.2rem;
}

h2 {
  // margin-top: 5rem;
  text-transform: uppercase;
  text-align: center;
}

h3 {
  text-transform: uppercase;
  text-align: center;
  font-size: 1.2rem;
}

.container {
  max-width: 110rem;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding-right: 4rem;
  padding-left: 4rem;

  @media screen and (max-width: $break-tablet) {
    padding-right: 2rem;
    padding-left: 2rem;
  }

  @media screen and (max-width: $break-small) {
    padding-right: 1rem;
    padding-left: 1rem;
  }
}

.btn {
  display: inline-block;
  margin: 0.5rem;
  padding: 1rem 2rem;

  font-family: inherit;
  font-size: inherit;
  text-decoration: none;
  text-transform: uppercase;

  cursor: pointer;
  box-shadow: none;
  transition: all 0.3s ease-in-out;

  &:active {
    transform: translateY(0.2rem);
  }

  &--primary {
    background-color: $primary-color;
    color: $clear-color;
    border: none;
    border-radius: $small-radius;

    &:hover {
      box-shadow: $shadow;
      transition: all 0.3s ease-in-out;
    }
  }

  &--outline {
    font-size: 1.5rem;
    border: 2px solid pink;
    border-radius: 25px;
    background-color: transparent;
    color: pink;

    &:hover {
      background-color: pink;
      color: $secondary-color;
      transition: all 0.3s ease-in-out;
    }
  }
}
